/* Variables */

$color-blue-light: #7ed3ff;
$color-blue-dark: #68a2ff;
$color-text: #5c72b2;

$background-gradient: linear-gradient(to bottom, $color-blue-light 0%, $color-blue-dark 100%);
$button-gradient: linear-gradient(to bottom, white 0%, $color-blue-dark 300%);
$font-default: "Bangers", cursive;

@mixin banner {
  background: linear-gradient(to bottom, white 0%, gray 350%);
  border: 20px solid $color-blue-dark;
  border-top: none;
  border-bottom: none;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  border-radius: 100px;
}

/* Global */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  font-family: $font-default;
  background: $background-gradient;
  color: $color-text;
}

h1,
h2,
input {
  text-align: center;
  -webkit-text-stroke: 0.25px white;
  text-stroke: 0.25px white;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  color: $color-text;
}

input {
  margin: 2rem 0;
}

h1 {
  letter-spacing: 0.2rem;
  font-size: 80px;
  border-radius: 100px;
}

button {
  padding: 1rem 2rem;
  font-family: $font-default;
  background: $button-gradient;
  border: 5px solid rgba(0, 0, 0, 0.2);
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
  color: $color-text;
  border-radius: 15px;
  opacity: 1;
  transition: opacity 0.4s;

  &.hidden {
    opacity: 0;
  }

  &.large {
    font-size: 32px;
  }

  &.exit {
    font-size: 24px;
    margin: 2rem 0;
  }
}

input {
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
  text-align: center;
  background-color: transparent;
  font-size: 82px;
  width: 150px;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  font-family: $font-default;

  &:focus {
    outline: none;
  }
}

.board {
  max-width: 1140px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  border: 15px solid $color-blue-dark;
  border-top: none;
  border-bottom: none;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.5));
  position: relative;
  width: 30%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1140px;

  transition: width 0.4s, height 0.4s;

  &.full {
    width: 100%;
    height: 75%;
  }
}

.board-content {
  padding: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: scale(0);
  transition: transform 0.4s;

  &.show {
    transform: scale(1);
  }
}

.top-bar {
  margin-top: 1rem;
  max-width: 1140px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 100%;

  i {
    font-size: 60px !important;
  }

  h1 {
    padding: 2rem 4rem;
    @include banner;
    transform: scale(1);
    position: absolute;
    transition: transform 0.4s;
  }

  &.game {
    h1 {
      transform: scale(0);
    }

    .player-bar {
      transform: scale(1);
    }
  }

  .player-bar {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    transform: scale(0);
    transition: transform 0.4s;

    i {
      font-size: 40px;
    }

    h2 {
      font-size: 48px;
      margin: 0;
    }

    .game-status {
      @include banner;
      text-align: center;
      padding: 2rem 4rem;
      margin-bottom: 2rem;

      .score {
        font-size: 60px;
        letter-spacing: 0.5rem;
      }
    }

    .player-status {
      width: 30%;
      display: flex;
      gap: 2rem;

      &.right {
        justify-content: end;
      }
    }
  }
}

/* Welcome */

.welcome {
  h2 {
    font-size: 48px;
    margin: 0;
    -webkit-text-stroke: 0.25px white;
    text-stroke: 0.25px white;
  }
}

/* Game */

.figure {
  pointer-events: none;
  font-size: 5vh;
  height: 5vh;
  left: 50%;
  top: 50%;
  position: absolute;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.4s, left 0.4s, top 0.4s, transform 0.4s;

  &.loaded {
    opacity: 1;
  }

  &.selected {
    transform: scale(2);
  }
}

.game {
  .battle-area {
    margin: 3rem;
    width: 100%;
    height: 100%;
    border: 2px solid $color-text;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .battle-slot {
      border: 3px solid $color-text;
      border-radius: 15px;
      opacity: 0.4;
      height: 75%;
      aspect-ratio: 1/1;
      margin: 4rem;

      &.win {
        background: green;
      }

      &.lose {
        background-color: red;
      }

      &.draw {
        background-color: blue;
      }
    }

    &::after {
      position: absolute;
      width: 3px;
      background-color: $color-text;
      opacity: 0.2;
      height: 80%;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
    }

    .timer {
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      font-size: 36px;
      width: 200px;
      height: 80px;
      @include banner;
    }
  }

  .controls {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;

    [class^="slot-"] {
      opacity: 0.3;
      pointer-events: none;
      cursor: pointer;
      transform: scale(1);
      height: 100%;
      aspect-ratio: 1/1;
      background: $button-gradient;
      border-radius: 100%;
      border: 5px solid $color-text;
      filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.5));
      transition: transform 0.2s, opacity 0.2s;

      &.ready {
        pointer-events: all;
        opacity: 1;
      }

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(1.3);
      }
    }
  }
}

.final-screen {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: brightness(0.5);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  .final-header {
    @include banner;
    padding: 2rem 4rem;
  }

  transition: opacity 1s;

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  &::before {
    content: "";
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &.lose {
    &::before {
      background: red;
    }
  }

  &.win {
    &::before {
      background: green;
    }
  }

  &.draw {
    &::before {
      background: blue;
    }
  }
}
