/* Variables */

$color-blue-light: #7ed3ff;
$color-blue-dark: #68a2ff;
$color-text: #5c72b2;

$background-gradient: linear-gradient(to bottom, $color-blue-light 0%, $color-blue-dark 100%);
$button-gradient: linear-gradient(to bottom, white 0%, $color-blue-dark 300%);
$font-default: "Bangers", cursive;

/* Global */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  font-family: $font-default;
  background: $background-gradient;
  color: $color-text;
}

h1,
h2,
input {
  -webkit-text-stroke: 0.25px white;
  text-stroke: 0.25px white;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  color: $color-text;
}

h1 {
  letter-spacing: 0.2rem;
  background: linear-gradient(to bottom, white 0%, gray 350%);
  padding: 2.5rem 4rem;
  border: 20px solid $color-blue-dark;
  border-top: none;
  border-bottom: none;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  font-size: 80px;
  border-radius: 100px;
}

button {
  padding: 1rem 2rem;
  font-family: $font-default;
  background: $button-gradient;
  border: 5px solid rgba(0, 0, 0, 0.2);
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
  color: $color-text;
  border-radius: 15px;

  &.large {
    font-size: 32px;
  }
}

input {
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
  text-align: center;
  background-color: transparent;
  font-size: 82px;
  width: 150px;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  font-family: $font-default;

  &:focus {
    outline: none;
  }
}

.board {
  max-width: 1140px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  border: 15px solid $color-blue-dark;
  border-top: none;
  border-bottom: none;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.5));
  position: relative;
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1140px;

  transition: width 0.5s, height 0.5s;

  &.full {
    width: 100%;
    height: 75%;
  }
}

.board-content {
  padding: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  transform: scale(0);
  transition: transform 0.4s;

  &.show {
    transform: scale(1);
  }
}

.title {
  transition: font-size 0.4s;

  &.small {
    font-size: 40px !important;
  }
}

/* Welcome */

.welcome {
  h2 {
    font-size: 48px;
    margin: 0;
    -webkit-text-stroke: 0.25px white;
    text-stroke: 0.25px white;
  }
}

/* Game */

.figure {
  i {
    pointer-events: none;
  }

  font-size: 5vh;
  width: 5vh;
  height: 5vh;
  left: 50%;
  top: 50%;
  position: absolute;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.3s, left 0.3s, top 0.3s, transform 0.3s;

  &.loaded {
    opacity: 1;
  }

  &.selected {
    transform: scale(2);
  }
}

.game {

  .points-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    i {
      font-size: 40px;
    }

    h2 {
      font-size: 32px;
      margin: 0;
    }

    .points-status {
      width: 30%;
      display: flex;
      gap: 2rem;

      &.right {
        justify-content: end;
      }
    }
  }

  .battle-area {
    width: 100%;
    height: 100%;
    border: 2px solid $color-text;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .battle-slot {
      border: 3px solid $color-text;
      border-radius: 15px;
      opacity: 0.4;
      height: 75%;
      aspect-ratio: 1/1;
      margin: 4rem;
    }

    &::after {
      content: "";
      position: absolute;
      width: 3px;
      background-color: $color-text;
      opacity: 0.2;
      height: 80%;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .controls {
    height: 50%;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;

    [class^="slot-"] {
      height: 100%;
      aspect-ratio: 1/1;
      background: $button-gradient;
      border-radius: 100%;
      border: 5px solid $color-text;
      filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.5));
    }
  }
}


