/* Variables */

$color-blue-light: #7ed3ff;
$color-blue-dark: #68a2ff;
$color-text: #5c72b2;

$background-gradient: linear-gradient(to bottom, $color-blue-light 0%, $color-blue-dark 100%);
$button-gradient: linear-gradient(to bottom, white 0%, $color-blue-dark 300%);
$font-default: "Bangers", cursive;

/* Global */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  font-family: $font-default;
  background: $background-gradient;
  color: $color-text;
}

h1,
h2,
input {
  -webkit-text-stroke: 0.25px white;
  text-stroke: 0.25px white;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  color: $color-text;
}

h1 {
  letter-spacing: 0.2rem;
  background: linear-gradient(to bottom, white 0%, gray 350%);
  padding: 2.5rem 4rem;
  border: 20px solid $color-blue-dark;
  border-top: none;
  border-bottom: none;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  font-size: 80px;
  border-radius: 100px;
}

button {
  padding: 1rem 2rem;
  font-family: $font-default;
  background: $button-gradient;
  border: 5px solid rgba(0, 0, 0, 0.2);
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
  color: $color-text;
  border-radius: 15px;

  &.large {
    font-size: 32px;
  }
}

input {
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
  text-align: center;
  background-color: transparent;
  font-size: 82px;
  width: 150px;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  font-family: $font-default;

  &:focus {
    outline: none;
  }
}

.board {
  max-width: 1140px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4rem;
  border-radius: 40px;
  border: 15px solid $color-blue-dark;
  border-top: none;
  border-bottom: none;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.5));
}

/* Welcome */

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  h2 {
    font-size: 48px;
    margin: 0;
    -webkit-text-stroke: 0.25px white;
    text-stroke: 0.25px white;
  }
}

/* Game */

.game {
  
}
